 <div class="user-details">
  <h1> 소개 </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Language</h2>
	  <i class="devicon-csharp-plain"></i>
	  <i class="devicon-java-plain-wordmark colored"></i>
	  <i class="devicon-python-plain-wordmark colored"></i>
	  <i class="devicon-swift-plain colored"></i>
      <p>C#, JAVA, PYTHON, SWIFT, OBJECTIVE-C, SCALA</p>
    </div>
    <div class="tech">
      <h2>Framework&Tool</h2>
	  <i class="devicon-apache-plain-wordmark colored"></i>
	  <i class="devicon-tomcat-line-wordmark colored"></i>
	  <i class="devicon-github-plain-wordmark colored"></i>
	  <i class="devicon-jetbrains-plain colored"></i>
      <p>Apache Tomcat, rabbitMq, Spring, Springboot, Github, Jetbrains IDE</p>
    </div>
    <div class="tech">
      <h2>OS</h2>
      <i class="devicon-android-plain-wordmark colored"></i>
	  <i class="devicon-apple-original colored"></i>
	  <i class="devicon-linux-plain colored"></i>
	  <i class="devicon-windows8-original colored"></i>
      <p>Android, iOS, Linux, Windows</p>
    </div>
    <div class="tech">
      <h2>Database</h2>
	  <i class="devicon-mysql-plain colored"></i>
	  <i class="devicon-oracle-original colored"></i>
	  <i class="devicon-postgresql-plain-wordmark colored"></i>
	  <i class="devicon-redis-plain-wordmark colored"></i>
      <p>Mysql, Oracle, PostgreSQL, redis</p>
    </div>
</div>
