<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/monitoring.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 서비스 모니터링시스템 </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>TCP/IP를 통한 서비스 서버와 모니터링 서버와의 빠른 데이터 통신, 웹소켓 및 REST API형식의 프론트엔드와의 연동, RabbitMq를 사용한 대용량 처리</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/hamastruct.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 배송조회 서비스 </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>각 택배사의 배송조회를 통합하여 조회하고 택배사 서버의 트래픽 증가를 컨트롤 할 수 있게 통합 관리 할 수 있는 서비스</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
